<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
<div class="container-login">
    <div>
        <form class="impactabook-form" id="register-form">
            <span>Create your account</span>
            <div>
                <input type="text" name="name" id="name" placeholder="Type your name" required="required">
            </div>
            <div>
                <input type="text" name="email" id="email" placeholder="Type your e-mail" required="required">
            </div>
            <div>
                <input type="text" name="nickname" id="nickname" placeholder="Type your nickname" required="required">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Type your password" required="required">
            </div>
            <div>
                <input type="password" name="confirme-password" id="confirme-password" placeholder="Confirme your password"
                       required="required">
            </div>
            <a href="/login"> Click here to login </a>
            <button type="submit" class="btn-impactabook">Register</button>
        </form>
    </div>
</div>
    <script src="/assets//javascript/jquery.js"></script>
    <script src="/assets//javascript/user-register.js"></script>

</body>

</html>