<div class="jumbotron">


    {{ if (eq .AuthorID $.UserID) }}
    <p>Buttons like, edit and delete</p>
    {{ else }}
    <p>Button like</p>
    {{ end }}


</div>

{{ define "likes"}}
    <i class="fa-solid fa-heart"></i>
    <span> {{ .Likes }}</span>

{{ end }}

{{ define "edit"}}
<a href="/edit" style="text-decoration: none;">
    <i class="fa-solid fa-pen-to-square"></i>
</a>

{{ end }}

{{ define "delete"}}
<a href="/delete" style="text-decoration: none;">
    <i class="fa-solid fa-trash-can text-danger"></i>
</a>

{{ end }}


{{ define "header-publication"}}
    <h1 class="display-4"> {{ .Title }} </h1>
    <p class="lead">{{ .Content }}</p>
    <a href="#"> {{ .AuthorNick }} - {{ .CreatedAt }} </a>
    <hr class="my-4">
{{ end }}

{{ define "authorized-publication" }}
    <div class="jumbotron" data-publication-id="{{ .ID }}">
        {{ template "header-publication" .}}
        <p>
            {{ template "likes". }}
            {{ template "edit". }}
            {{ template "delete". }}
        </p>
    </div>
{{ end }}


{{ define "unathorized-publication" }}
    <div class="jumbotron" data-publication-id="{{ .ID }}">
        {{ template "header-publication" .}}
        <p>
            {{ template "likes". }}
        </p>
    </div>
{{ end }}